<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <configSections>
    <section name="ProviderSection" type="Appworks.RepositoryProviderConfigurationSection, Appworks"/>
  </configSections>
  <ProviderSection Repository="Appworks.Repositories.Dapper.DapperRepository`1, Appworks.Repositories.Dapper"
                   RepositoryContext="Appworks.Repositories.Dapper.DapperContext, Appworks.Repositories.Dapper"></ProviderSection>
</configuration>