<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProviderSection" type="Appworks.RepositoryProviderConfigurationSection, Appworks"/>
  </configSections>
  <ProviderSection Repository="Appworks.Repositories.Dapper.DapperRepository`1, Appworks.Repositories.Dapper"
                   RepositoryContext="Appworks.Repositories.Dapper.DapperContext, Appworks.Repositories.Dapper"></ProviderSection>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=.; Database=Test; User Id=sa; Password=~zl.; MultipleActiveResultSets=true; Persist Security Info=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>